body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.view-event{
    display: block;
    transition: transform 800ms ease;
}

.formEdit{
    display: none;
    transition: transform 800ms ease;
}